<template>
  <el-card>
    <div v-for="item in arr">{{ item }}</div>
  </el-card>
</template>

<script setup lang="ts">
const arr = reactive(["a", "b", "c"]);
</script>

<style scoped lang="scss"></style>
