<template>
  <el-icon :size="props.size" :color="props.color" style="height: 100%">
    <component :is="props.name"></component>
  </el-icon>
</template>

<script setup lang="ts">
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  size: {
    type: String,
    default: "",
  },
  color: {
    type: String,
    default: "",
  },
});
</script>
