<template>
  <div class="list">
    <el-card>我是数据列表</el-card>
    <el-card>我是数据列表</el-card>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.list {
  transition: all 0.2s;
  // width: 100%;
}
</style>
