<script setup lang="ts">
import { onMounted, watchEffect } from "vue";
import { userStore } from "./store/useStore";
import { useRoute } from "vue-router";
import permissionToken from "./utils/permissionToken";

const store = userStore();
const route = useRoute();

function handleBreadcrumb(breadcrumb: any[]) {
  store.setBreadcrumb(breadcrumb);
}
watchEffect(() => {
  handleBreadcrumb(route.matched);
});
onMounted(() => {
  permissionToken();
});
</script>

<template v-cloak>
  <router-view />
</template>

<style scoped></style>
