<template>
  <el-aside :width="state.isCollapse ? `64px` : `200px`">
    <div :class="[!state.isCollapse ? 'logo' : 'hid_logo']">
      <img src="@/assets/img/admin.png" alt="logo" draggable="false" />
      <p>Vue3 admin</p>
    </div>
    <el-menu
      background-color="#001529"
      text-color="#eee"
      active-text-color="#fff"
      router
      unique-opened
      :default-active="route.path"
      :collapse="state.isCollapse"
    >
      <template v-for="item in routers" :key="item.name">
        <template v-if="!item['hidden']">
          <el-sub-menu
            v-if="item.children && item.children.length"
            :index="concatPath(item.path)"
          >
            <template #title>
              <Icons v-if="item.meta.icon" :name="item.meta.icon" />
              <span>{{ item.meta.title }}</span>
            </template>
            <template v-for="sub in item.children" :key="sub.name">
              <el-menu-item :index="concatPath(item.path, sub.path)">
                <Icons v-if="sub.meta['icon']" :name="sub.meta['icon']" />
                <template #title>{{ sub.meta.title }}</template>
              </el-menu-item>
            </template>
          </el-sub-menu>
          <el-menu-item v-else :index="concatPath(item.path)">
            <Icons v-if="item.meta['icon']" :name="item.meta['icon']" />
            <template #title>{{ item.meta.title }}</template>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
    <div class="fold" @click="changeCollapse">
      <Icons v-if="!state.isCollapse" name="d-arrow-left" />
      <Icons v-else name="d-arrow-right" />
    </div>
  </el-aside>
</template>

<script setup lang="ts">
import appStore from "@/store/index";
const route = useRoute();
const store = appStore.userStore;
const state = reactive({ isCollapse: false });
const routers: any = computed(() => store.routers);

const changeCollapse = () => {
  state.isCollapse = !state.isCollapse;
};
const concatPath = (p_path: string, c_path = "") => {
  return `${p_path !== "" ? p_path : ""}${c_path !== "" ? "/" + c_path : ""}`;
};
</script>

<style lang="scss" scoped>
@mixin noScrollBar {
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@mixin line($n) {
  height: $n + px;
  line-height: $n + px;
}

.el-aside {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  background-color: #001529;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  @include noSelect;
  .logo,
  .hid_logo {
    @include line(56);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background-color: #002140;
    flex-wrap: nowrap;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
    }
    p {
      padding-left: 10px;
      margin: 0;
      text-align: center;
      white-space: nowrap;
      font-size: 20px;
      color: #fff;
      overflow: hidden;
    }
  }
  .hid_logo {
    animation: animate1 1s;
    p {
      display: none;
    }
  }
  .logo {
    animation: animate 1s;
  }
  @keyframes animate1 {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0.4;
    }
    50% {
      opacity: 0;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animate {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0.4;
    }
    50% {
      opacity: 0;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .el-menu {
    flex: 1;
    border-right: none;
    @include noScrollBar;
    &:not(.el-menu--collapse) {
      width: 200px;
    }
  }
  .title {
    line-height: normal;
    min-width: 120px;
  }

  .fold {
    @include line(48);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #002140;
    &:hover {
      cursor: pointer;
      color: #1890ff;
      transition: all 0.3s;
    }
  }
}
/* 激活选中菜单 */
.el-menu-item.is-active,
.el-menu--popup .el-menu-item.is-active {
  background-color: #1890ff !important;
}
</style>
