<template>
  <el-container class="layout">
    <Aside />
    <el-container>
      <Header />
      <VisitedViews></VisitedViews>
      <Main />
    </el-container>
  </el-container>
</template>

<script setup lang="ts">
import Aside from "./Aside.vue";
import Header from "./Header.vue";
import Main from "./Main.vue";
import VisitedViews from "@/components/VisitedViews.vue";
</script>

<style lang="scss" scoped>
.layout {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  .el-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
}
</style>
